@CHARSET "UTF-8";

.editor-form {
	min-height: 654px;
	width: 548px;
	min-width: 420px;;
	display: block !important;
}

.editor-title {
	min-width: 548px;
}

.editor-field {

}

textarea {
	resize: none;
}

.title-field {
	display: flex;
	min-width: 250px;
}

.editor-sidemenu-area {
	background-color: #333;
	color: #fff;
	min-width: 160px;
	float: left;
	min-height: 688px;
	margin-left: 128px;
}

.editor-sidemenu {
	list-style-type: none;
}

::-webkit-input-placeholder {
	color: #aaa;
}

/* Firefox 18- */
:-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

/* Firefox 19+ */
::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

/* IE 10+ */
:-ms-input-placeholder {
	color: #aaa;
}

.contents-root {
	margin-left: 88px;
}

.validate-editor-area {
	min-width: 450px;
}

.alert-form {
	min-height: 688px;
	border: 1px solid;
	min-width: 250px;
	background-color: #fff;
	overflow-y: auto;
}

.element-area {
	max-width: 1820px;
}

.alert-list {
	list-style-type: none;
	padding: 0;
}

.validate-form {
	max-width: 548px;
}

.origin-editor-area {
	min-width: 548px;
}

.origin-sidemenu-area {
	background-color: #333;
	color: #fff;
	min-width: 160px;
	min-height: 688px;
}

.minutes-editor-area {
	display: flex;
	max-height: 500px;
}

.credit {
	position: absolute;
	bottom: 0;
	margin-left: 15px;
}

.readonly {
	opacity: 1;
}

.upload-minutes {
	margin-left: 190px;
}

.dummy-position {
	margin-left: 144px;
}

.undisplay {
	display: none !important;
}

.new-dummy-position {
	margin-left: 712px;
}

.header-title-area {
	background-color: #333;
	color: #fff;
	padding: 1px;
	min-width: 1968px;
}

}
.validate-label {
	margin-top: 2px;
}

.validate-form {
	display: block !important;
}

body {
	overflow: hidden;
	background-color: #F0F1F2;
}

.header-option {
	display: flex;
}

.watch-area {
	display: none;
	position: absolute;
	margin-left: 646px;
}

.sidemenu-css {

}

.sidemenu-list {
	cursor: pointer;
	padding: 8px 16px 8px 16px;
	margin: 0px 0px 0px -40px;
}

.sidemenu-list:hover {
	background-color: blue;
}

.linedwrap {
	background-color: #fff !important;
}

.page-title {
	margin-left: 74px;
}

.validate-label:first-child {
	margin-top: 8px;
}