@CHARSET "UTF-8";

.editor-form {
	min-height: 500px;
	min-width: 500px;
}

.editor-title {
	min-width: 500px;
}

.editor-field {

}

textarea {
	resize: none;
}

.title-field {
	display: flex;
	min-width: 250px;
}

.editor-sidemenu-area {
	background-color: #333;
	color: #fff;
	min-width: 160px;
	float: left;
	min-height: 528px;
}

.editor-sidemenu {
	list-style-type: none;
	padding: 8px 16px 8px 16px;
}

::-webkit-input-placeholder {
	color: #aaa;
}

/* Firefox 18- */
:-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

/* Firefox 19+ */
::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

/* IE 10+ */
:-ms-input-placeholder {
	color: #aaa;
}

.contents-root {
	margin-left: 15px;
}

.validate-editor-area {
	min-width: 450px;
}

.alert-form {
	min-height: 525px;
	border: 1px solid;
	min-width: 250px;
}

.element-area {
	max-width: 1560px;
}

.alert-list {
	list-style-type: none;
	padding: 0;
}

.validate-form {
	max-width: 548px;
}

.origin-editor-area {

}

.origin-sidemenu-area {
	background-color: #333;
	color: #fff;
	min-width: 160px;
	min-height: 528px;
}

.minutes-editor-area {
	display: flex;
	max-height: 500px;
}

.credit{
	position: absolute;
    bottom: 0;
    margin-left: 15px;
}